Usage

  This plugin has been written to be able to apply a new skin on deployed sites of Maven Projects.
  
  Before you begin be sure that the current project already uses the new skin.
  
  When you execute <<<siteskinner:skin>>> the following steps are taken:
  
  * The plugin will look for the most recent deployed version of the project. From this version the pom is read to get the scm-information.
  
  * The sources of this version will be checked out under <<<target/siteskinner>>>. 
  
  * The skin and the custom-section of the site.xml of the current project are merged with the checked out sources.
  
  * The plugin will call <<<mvn site>>> on the checked out project. <Et voil\340>, we have the old content with a new skin.
  
  * If you have verified the site under <<<target/siteskinner/target/site>>> you can deploy it by a <<<mvn site-deploy>>> from <<<target/siteskinner>>>.
  
  []
  
  This plugin supports locales and multi-module projects (the checkout will only be done on the root of the project).
  
Command line options

  The skinner plugin has only a few options:
  
  * <<<siteDeploy>>> (default: <<false>>): If this value is set to true the re-skinned site will immediately be deployed.
  
  * <<<forceCheckout>>> (default: <<false>>): By setting this value to <<<true>>> a clean checkout is done instead of an update.   

~~  * <<<customSkinTag>>> : By default this is calculated based on the artefactId: <<<maven-fluido-skin>>> will become <<<fluidoSkin>>>.
  
PublishDate support

  When deploying a site, the current date will be used as the publish date. The siteskinner can push the original publish date, but that requires an adjustment in the skins.
  The following table shows which version of a skin supports a custom publish date.
  
  Most skins only provide css-files, whereas the templating is done by Doxia sitetools. 
  For these skins it's not possible to specify a version.
  Doxia-sitetools is a dependency of the maven-site-plugin, so that's where you should check which version of the doxia-sitetools is used.  

*-----------------------------------------------------------------------------------+---------------------+
|| {{{http://maven.apache.org/skins/}Apache Maven Skins}}                           || Support since      ||
*-----------------------------------------------------------------------------------+---------------------+
| {{{http://maven.apache.org/skins/maven-application-skin/}Maven Application Skin}} | Doxia Sitetools 1.3 |
*-----------------------------------------------------------------------------------+---------------------+
| {{{http://maven.apache.org/skins/maven-classic-skin/}Maven Classic Skin}}         | Doxia Sitetools 1.3 |
*-----------------------------------------------------------------------------------+---------------------+
| {{{http://maven.apache.org/skins/maven-default-skin/}Maven Default Skin}}         | Doxia Sitetools 1.3 |
*-----------------------------------------------------------------------------------+---------------------+
| {{{http://maven.apache.org/skins/maven-stylus-skin/}Maven Stylus Skin}}           | 1.4                 |
*-----------------------------------------------------------------------------------+---------------------+
| {{{http://maven.apache.org/skins/maven-fluido-skin/}Maven Fluido Skin}}           | 1.1                 |
*-----------------------------------------------------------------------------------+---------------------+
