Usage

  This plugin has been written to be able to apply a new skin on deployed sites of Maven Projects.
  
  Before you begin be sure that the current project already uses the new skin.
  
  When you execute <<<siteskinner:skin>>> the following steps are taken:
  
  * The plugin will look for the most recent deployed version of the project. From this version the pom is read to get the scm-information.
  
  * The project is checked out under <<<target/siteskinner>>>. Next the skin and the custom-sections from the site.xml of the current project are merged with the checked out project.
  
  * Now we can regenerate the site. The plugin will call a <<<mvn site>>> on this project. <Et voil\340>, we have the old content with a new skin.
  
  * If you have verified the site under <<<target/siteskinner/target/site>>> you can deploy it by a simply <<<mvn site-deploy>>> from <<<target/siteskinner>>>.
  
  []
  
  This plugin supports locales and multi-module projects (the checkout will only be done on the root of the project).
  
Command line options

  The skinner plugin has only a few options:
  
  * <<<siteDeploy>>> (default: <<false>>): If this value is set to true the re-skinned site will immediately be deployed.
  
  * <<<customSkinTag>>> : By default this is calculated based on the artefactId: <<<maven-fluido-skin>>> will become <<<fluidoSkin>>>.
  
  * <<<forceCheckout>>> (default: <<false>>): By setting this value to <<<true>>> a clean checkout is done instead of an update.   

PublishDate support

  When deploying a site, the current date will be used as the publish date. The siteskinner can push the original publish date, but that requires an adjustment in the skins.
  The following table shows which version of a skin supports a custom publish date.    

*-----------------------------------------------------------------------------------+-----------------+
|| {{{http://maven.apache.org/skins/}Apache Maven Skins}}                           || Support since  ||
*-----------------------------------------------------------------------------------+-----------------+
| {{{http://maven.apache.org/skins/maven-application-skin/}Maven Application Skin}} | -               |
*-----------------------------------------------------------------------------------+-----------------+
| {{{http://maven.apache.org/skins/maven-classic-skin/}Maven Classic Skin}}         | -               |
*-----------------------------------------------------------------------------------+-----------------+
| {{{http://maven.apache.org/skins/maven-default-skin/}Maven Default Skin}}         | -               |
*-----------------------------------------------------------------------------------+-----------------+
| {{{http://maven.apache.org/skins/maven-stylus-skin/}Maven Stylus Skin}}           | -               |
*-----------------------------------------------------------------------------------+-----------------+
| {{{http://maven.apache.org/skins/maven-fluido-skin/}Maven Fluido Skin}}           | 1.1-SNAPSHOT    |
*-----------------------------------------------------------------------------------+-----------------+
